* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
.container {
  margin: auto;
  width: 500px;
  background-color: #ccc;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid black;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}
.list {
  margin-top: 30px;
}
.list li {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list li span {
  font-size: 25px;
}
